<!DOCTYPE html>
<html>
  <head>
    <title>Csg</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  </head>
  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><%= image_tag ("CSGLOGO-smallest.jpg") %></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to 'Under the hood', convoy_index_path, :class => 'navbar-link' %></li>

          <li><%= link_to 'Connect with us', contact_index_path, :class => 'navbar-link' %></li>
          <li><%= link_to 'Resources', resource_index_path, :class => 'navbar-link' %></li>
          <% if user_signed_in? %>
          <br>
            Logged in as <strong><%= current_user.email %></strong>
            <!--  Gravatar tag -->
            <!-- <%= image_tag current_user.gravatar_url %> -->
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
      </div>
    </nav>


        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="footer">

        <h6>| compete less. share more |</h6>
        <h6>Be Atypical Media Co.</h6>
        <p>The CarShareGuy, LLC. All Rights Reserved <%= Time.now.year %></p>
        <i class="devicon-facebook-plain"></i>
        <i class="devicon-twitter-plain"></i>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  </body>
</html>
